body{
	background: url(file:///C:/Users/Дарья/Downloads/gorod-noch-molnii-molniya.jpg)
}

article {
float: left;
width: 75%;
background: #8a2be2;
}

aside {
float: right;
width: 25%;
background: #9932cc;
}

h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 26px;
}

.item{
	color: yellow;
}

a{
	font-family: sans-serif;
	color: red;
}
